<div class="card bg-transparent shadow-none border-0 profile text-white">
  <img src="/assets/img/titus-abola-speaking.jpg" class="card-img-top rounded-circle border border-white" alt="...">
  <div class="card-body">
    <p class="card-text font-weight-bold h4">Independent soft skills development consultant and
      facilitator. <br><small>I design and execute programs that focus on the people side of work.</small></p>
    <p class="card-text">Mobile: +63 920 973 5044, <br>Email: titusabola@gmail.com, <br>Facebook: <a href="https://www.facebook.com/pg/Titus.Abola.Training/">Titus Abola Training</a></p>  
  </div>
</div>