<div class="card bg-transparent shadow-none border-0 profile text-white" itemscope itemtype="http://schema.org/LocalBusiness">
  <img src="/assets/img/titus-abola-speaking.jpg" class="card-img-top rounded-circle border border-white" alt="Titus Abola Training Profile Photo">
  <div class="card-body">
    <p class="card-text text-center h2 mb-3" itemprop="name">Titus Abola</p>
    <p class="card-text font-weight-bold h4 mb-3">Independent soft skills development consultant and facilitator.</p>
    <p class="card-text font-weight-bold h4 mb-3"><small>I design and execute programs that focus on the people side of work.</small></p>
    <p class="card-text">Mobile:  <span itemprop="telephone"><a href="tel:+63-920-973-5044">+63 920 973 5044</a></span> <br>Email: <a href="mailto:titusabola@gmail.com">titusabola@gmail.com</a> <br>Facebook: <a href="https://www.facebook.com/pg/Titus.Abola.Training/" target="_blank">Titus Abola Training</a></p>  
  </div>
</div>