<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/styles-42116a.css" rel="stylesheet"></head>
<body>
  {% include _navbar.html %}
  <main class="container">
    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div>
  </main>
  
<script type="text/javascript" src="/assets/js/vendor-42116a.js"></script><script type="text/javascript" src="/assets/js/bundle-42116a.js"></script></body>
</html>