<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/styles-3b35ab.css" rel="stylesheet"></head>
<body class="bg-dark-2">
  {% include _header.html %}
  <main class="container-fluid">
    <div class="row">
      <div class="col-md-3 d-sm-block bg-dark-3 sidebar pb-3">
        {% include _sidebar.html %}
      </div>
      <div class="col-md-9 ml-sm-auto bg-dark-2 main">
        {% include _jumbotron.html %}
        <div class="content text-white">
          {{ content }}
        </div>
      </div>
    </div>
  </main>
<script type="text/javascript" src="/assets/js/vendor-3b35ab.js"></script><script type="text/javascript" src="/assets/js/bundle-e9de1d.js"></script></body>
</html>